
  




.container-fluid{
  background-color:#1f1d1d;
  justify-content: space-between;
}

.Bloque{padding:'50%';  
  left: 10%;
 
  position: relative;
  align-items:flex;
  padding: 0%;
  
  margin: 5%;
  display:block;
  

  
  
};

  
